{% extends 'base.html' %}

{% load static %}

{% block title %}Profile avatars{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div
      class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


      <div class="panel panel-info">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-2 col-lg-2">
              &nbsp;
            </div>
            <div class=" col-md-8 col-lg-8 ">
              <!--<table class="table table-user-information">
                <thead>

                <tr>
                  <td>Avatar image</td>
                  <td>Codename</td>
                </tr>
                </thead>
                <tbody>
                {% for avatar in avatars %}
                <tr>
                  <td>
                    <img src="{{avatar.image.url}}"
                         style="width:64px; 64px;"/>
                  </td>
                  <td>
                    {{ avatar.codename }}
                  </td>

                </tr>
                {% endfor %}
                </tbody>
              </table>-->
              <!--<table
                class="table table-user-information align-items-center justify-content-center">
                {% for x,y in form.fields.avatars.choices %}
                <div class="row">
                  <img src="{{ y.url }}" id="{{ x }}"
                       class="img-responsive img-rounded">
                </div>
                {% endfor %}
              </table>-->
              {% for choice in form.avatars.field.choices %}
               <input name='{{ form.avatars.codename }}'
                 id='{{ form.avatars.id }}_{{ forloop.counter0 }}'
                      type='radio' value='{{ choice.0 }}'
                 {% if not form.is_bound %}{% ifequal form.avatars.field.initial choice.0 %} checked='checked' {% endifequal %}
               {% else %}{% ifequal form.avatars.data choice.0 %} checked='checked' {% endifequal %}{% endif %}/>
               <label for='{{ form.avatars.id }}_{{ forloop.counter0 }}'>{{
                 choice.1 }}</label>
             {% endfor %}
            </div>
            <div class="col-md-2 col-lg-2">
              &nbsp;
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <small>
              <button onclick="window.history.back();"
                      class="btn btn-outline-danger">Go
                back
              </button>
            </small>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
